<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CsvEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CsvEditor.Properties.Settings>
            <setting name="StartUpOpen" serializeAs="String">
                <value>Blank</value>
            </setting>
            <setting name="DefaultDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="DefaultEncoding" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="UseEncodingWithBom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </CsvEditor.Properties.Settings>
    </userSettings>
</configuration>